/* Global styles */
:root {
  --max-width: 1000px;
  --text-color-white: #fff;
  --primary-color: #ff6565;
  --secondary-color: #071629;

  --font-family-base: 'Source-sans-Pro-Regular';
  --font-family-title: 'Source-sans-Pro-Semibold';
  --font-family-bold: 'Source-sans-Pro-Bold';
  --font-weight-bold: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color-white);
  transition: all 0.5s;
  text-transform: lowercase;
}

a:hover {
  color: var(--primary-color);
}

li {
  list-style: none;
}

button {
  padding: 0.7rem 1.5rem;
  border: none;
  color: var(--text-color-white);
  background-color: var(--primary-color);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  opacity: 0.9;
}

/* Home section*/
#home {
  height: 100vh;
  color: var(--text-color-white);
  background: url(/headphones/images/headphones_hero_1.jpg) no-repeat center
    center/cover;
}

#home .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  overflow-y: visible;
}

#home .header-container #logo {
  background: none;
  border: none;
}

#home .header-container .nav {
  display: flex;
}

#home .header-container .nav .nav-item {
  padding-right: 1rem;
  text-align: center;
}

#home .hero-container {
  text-align: center;
  padding-top: 15%;
}

#home.hero-container h1 {
  font-size: 2rem;
  line-height: 1.2;
}

#home .hero-container h3 {
  font-size: 1rem;
}

#home .hero-container button {
  margin: 2rem 0 4rem;
}

#home .hero-container p {
  max-width: 500px;
  margin: auto;
}

/* Hiding the hamburger menu */
#home .hamburger {
  visibility: hidden;
  opacity: 0;
}

/* Media Query */
/* Tablet */
@media (max-width: 670px) {
  /* displaying the hamburger menu */
  #home .hamburger {
    visibility: visible;
    opacity: 1;
  }

  /* Hiding the navbar */
  #home .navbar-menu {
    display: none;
    transition: all 0.4s;
  }

  #home .header-container #logo img {
    width: 250px;
  }

  #home .header-container {
    flex-direction: column;
  }

  #home .header-container .nav {
    flex-direction: column;
  }

  #home .header-container .nav .nav-item {
    padding-top: 3.5rem;
    text-align: center;
    font-size: 1rem;
  }

  #home .header-container .nav .nav-item a {
    font-size: 1.4rem;
  }

  .hero-container h1 {
    padding-bottom: 0.5rem;
  }

  .hero-container h3 {
    font-size: 1.1rem;
  }

  .hero-container button {
    margin-bottom: 3rem;
  }

  .hero-container p {
    font-size: 1rem;
  }
}

/* Mobile view */
@media (max-width: 525px) {
  #home .header-container #logo img {
    width: 200px;
  }

  #home .header-container .nav .nav-item {
    padding-top: 2.5rem;
  }

  .hero-container h1 {
    padding-bottom: 0.4rem;
    font-size: 1.8rem;
  }

  .hero-container h3 {
    font-size: 0.85rem;
  }

  .hero-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 376px) {
  .hero-container h1 {
    font-size: 1.7rem;
  }

  .hero-container h3 {
    font-size: 0.75rem;
  }

  .hero-container p {
    max-width: 300px;
  }
}

/* Hamburger menu */

#home .hamburger {
  display: flex;
  position: absolute;
  top: 30px;
  left: 23px;
  flex-direction: column;
  gap: 6px;
  opacity: 1;
  cursor: pointer;
  z-index: 2;

  /* trig to make X */
  --x-width: calc(((3px * 3) + (6px * 2)) * 1.41421356237);
}

#home .hamburger::before,
#home .hamburger::after,
#home .hamburger input {
  content: '';
  width: 30px;
  height: 3px;
  background-color: var(--text-color-white);
  transition: all 200ms ease-in-out;
  transform-origin: left center;
}

#home .hamburger input {
  width: 15px;
  appearance: none;
  outline: 0;
  pointer-events: none;
}

#home .hamburger input:checked {
  opacity: 0;
  width: 0;
}

#home .hamburger:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(3px / -2);
}

#home .hamburger:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(3px / 2);
}

/* displaying harmburger menu */
#home .hamburger:has(input:checked) ~ nav {
  display: block;
}

/* End of amburger menuHamburger menu */
